In [1]:
# %load_ext autotime

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import json
import glob
# from mei import Size_Distribution_Optics
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [4]:
def get_data(folder):
    with open(folder+'/trial.json', "r") as f:
        my_dict = json.load(f)
        data = my_dict['hyperparameters']['values']
        data['mse'] = my_dict['score']
    data = pd.Series(data)
    return data

In [5]:
folders = sorted(glob.glob("./model/hyper1/tr*"))

dat = pd.DataFrame([])
for i, folder in enumerate(folders):
    dat[i] = get_data(folder)    
dat = dat.T.sort_values('mse').dropna().reset_index().drop(['index'], axis=1).drop_duplicates().head(5)
dat

  optimizer units activation num_layers       mse
0      adam    64       gelu          5  0.032091
1      adam    32       tanh          3   0.03307
2      adam    64       tanh          3  0.033729
3      adam    32       gelu          4  0.035626
4      adam    64       gelu          4  0.036324

In [6]:
dat.to_latex()

'\\begin{tabular}{llllll}\n\\toprule\n & optimizer & units & activation & num_layers & mse \\\\\n\\midrule\n0 & adam & 64 & gelu & 5 & 0.032091 \\\\\n1 & adam & 32 & tanh & 3 & 0.033070 \\\\\n2 & adam & 64 & tanh & 3 & 0.033729 \\\\\n3 & adam & 32 & gelu & 4 & 0.035626 \\\\\n4 & adam & 64 & gelu & 4 & 0.036324 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [7]:
folders = sorted(glob.glob("./model/mie/tr*"))

dat = pd.DataFrame([])
for i, folder in enumerate(folders):
    dat[i] = get_data(folder)    
dat = dat.T.sort_values('mse').dropna().reset_index().drop(['index'], axis=1).head(5)
dat

   units     lr  num_layers  batch_size       mse
0   64.0  0.010         4.0       128.0  0.014102
1   64.0  0.010         5.0       512.0  0.017238
2   64.0  0.010         5.0       256.0  0.017359
3   32.0  0.010         4.0       128.0  0.017747
4   64.0  0.001         5.0       128.0  0.017767

In [8]:
dat.to_latex()

'\\begin{tabular}{lrrrrr}\n\\toprule\n & units & lr & num_layers & batch_size & mse \\\\\n\\midrule\n0 & 64.000000 & 0.010000 & 4.000000 & 128.000000 & 0.014102 \\\\\n1 & 64.000000 & 0.010000 & 5.000000 & 512.000000 & 0.017238 \\\\\n2 & 64.000000 & 0.010000 & 5.000000 & 256.000000 & 0.017359 \\\\\n3 & 32.000000 & 0.010000 & 4.000000 & 128.000000 & 0.017747 \\\\\n4 & 64.000000 & 0.001000 & 5.000000 & 128.000000 & 0.017767 \\\\\n\\bottomrule\n\\end{tabular}\n'